body {
	margin: 0;
	background-color: rgb(32, 32, 32);
}

h1 , h2, h3, a, p {
	font-family: 'Source Code Pro', cursive;
}

p {
	font-size: 1em;
}

tr p {
	margin-top: 0;
	margin-bottom: 0;
}

tr {
	vertical-align: top;
}

h1 {
	font-size: 3em;
	letter-spacing: 1em;
}

ul {
	padding-left: 0;
}

h2 {
	font-size: 2em;
}

header a {
	display: inline-block;
	color: white;
	font-size: 1em;
	padding: 1em;
	text-decoration: none;
}

header a:hover {
	background-color: white;
	color: black;
}

.title {
	text-align: center;
	color: black;
	padding-bottom: 0em;
	margin-bottom: 1em;
	margin-top: 1em;
}

.outercontainer {
	width: 100%;
	background-color: white;
}

.innercontainer {
	margin: 0 auto;
	padding-top: 0;
	background-color: white;
	width: 70em;
	height: 100%;
}

.newslist li {
	list-style: none;
}

#newesttxt {
	text-align: right;
}